digen/Library
digen/.vs/DarkIslandsGener/v14/*.suo
digen/Assets/*.meta
digen/Assets/Island/*.meta
digen/Assets/Island/IslandView/*.meta
digen/*.sln
digen/Temp
digen/*.csproj


darkislands/Library
darkislands/.vs/DarkIslandsGener/v14/*.suo
darkislands/Assets/*.meta
darkislands/Assets/Island/*.meta
darkislands/Assets/Island/IslandView/*.meta
darkislands/*.sln
darkislands/Temp
darkislands/*.csproj

/digen/obj/Debug
/digen/bin/Debug/DarkIslandGen.vshost.exe
/digen/bin/Debug/DarkIslandGen.vshost.exe.config
/digen/bin/Debug/DarkIslandGen.vshost.exe.manifest
/digen/.vs/DarkIslandGen/v14/.suo
/digen/bin/Debug/DarkIslandGen.exe
/digen/bin/Debug/DarkIslandGen.exe.config
/digen/bin/Debug/DarkIslandGen.pdb
/darkislands/.vs/darkislands/v14/*.suo
